<div class="section" #experience id="experience">
    <div class="container">
        <div class="col-md-12 mr-auto ml-auto">
            <h2 class="title">Experience</h2>
            <div class="row">
                <div class="col-md-2">
                    <img src="https://media-exp1.licdn.com/dms/image/C560BAQFJBCRObXPb-Q/company-logo_100_100/0/1620720388823?e=1629936000&v=beta&t=qa4nx35IpYwTLbLFsRI20epQpf_7eV-c3qPGqBYQ3B4"
                        alt="circle">
                </div>
                <div class="col-md-8">
                    <h6 class="description">
                        Senior Front End Developer
                    </h6>
                    <p class="description">
                        Circle - The Ultimate E-Commerce App
                    </p>
                    <p class="description">
                        Full Time
                    </p>
                    <p class="text-muted">
                        Jan 2019 - Present
                    </p>
                    <h5 class="description">
                        Understand requirements, create and review designs, validate the architecture and ensure high
                        levels of service offerings to clients in the technology domain.
                        Participate in project estimation, provide inputs for solution delivery, conduct technical risk
                        planning, perform code reviews and unit test plan reviews.
                        Lead and guide my teams towards developing optimized high quality code deliverables, continual
                        knowledge management and adherence to the organizational guidelines and processes.
                    </h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <img src="https://media-exp1.licdn.com/dms/image/C510BAQGpGgNQYhq9zw/company-logo_100_100/0/1519861193397?e=1629936000&v=beta&t=CGxxg6mMv_7mNszUgLZvvb5_82icjLPIeR57yCoLMOI"
                        alt="RM Education India">
                </div>
                <div class="col-md-8">
                    <h6 class="description">
                        Senior Software Engineer
                    </h6>
                    <p class="description">
                        RM Education India Pvt Ltd
                    </p>
                    <p class="description">
                        Full Time
                    </p>
                    <p class="text-muted">
                        Dec 2015 - Nov 2018 (3 Yrs)
                    </p>
                    <h5 class="description">
                        Worked as a Software Developer for RM education solutions India,
                        where I was responsible for full stack development from the DB to the web service development
                        for providing
                        leading edge software solutions for a wide range of futuristic education related products and
                        services.
                    </h5>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <img src="https://media-exp1.licdn.com/dms/image/C560BAQGJheRcRN91wg/company-logo_100_100/0/1600296774016?e=1629936000&v=beta&t=Gw7HIfOsS0KWN_xOygdUE4LY0SIukcsXMyl9Xij4tts"
                        alt="Oztern.com">
                </div>
                <div class="col-md-8">
                    <h6 class="description">
                        Software Developer
                    </h6>
                    <p class="description">
                        Oztern E-learning Platform
                    </p>
                    <p class="description">
                        Full Time
                    </p>
                    <p class="text-muted">
                        April 2013 - Dec 2015 (~3 Yrs)
                    </p>
                    <h5 class="description">
                        From 2013 to 2015 December, I have served as a software Developer for Oztern Technology an
                        Education platform, where I have been repeatedly recognized for developing innovative solutions
                        for e-learning or adaptive learning management software and systems. I am responsible for full
                        lifecycle development of software, from initial requirement gathering to design, coding,
                        testing, documentation and implementation.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>