<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/main_photo.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/main_logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">Front End Developer</h1>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                </div>

                <h2 class="presentation-subtitle text-center">Angular | React </h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <div class="section" #about  id="about">
            <div class="container">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <h2 class="title">About Me</h2>
                    <h5 class="description">My Name is Soumya Mohan. I am an Indian, front end developer now based on
                        Dubai.
                        I describe myself as a passionate developer who loves coding, open source, and the web platform
                        ❤️.
                    </h5>
                    <h5 class="description">Aside from my job, I like to learn new technologies
                        and create new projects with it. Also I enjoy writing technical answers ✍️ at
                        <a href="https://stackoverflow.com/users/5182321/s-m?tab=answers" target="_blank">
                            Stack Overflow
                        </a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="section"  #skills  id="skills">
            <div class="container">
                    <h2 class="text-center">My Skills</h2>
                <div class="row">              
                    <div class="col-md-6">
                        <h3 class="text-center mb-3">Technical</h3>
                        <h6>HTML & CSS5</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="90"
                                aria-valuemax="100" style="width: 90%;">
                                <!---->90
                            </div>
                        </div>
                        <br />
                        <h6>JavaScript/TypeScript/JQuery</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="90"
                                aria-valuemax="100" style="width: 90%;">
                                <!---->90
                            </div>
                        </div>
                        <br />
                        <h6>Web Development</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="90"
                                aria-valuemax="100" style="width: 90%;">
                                <!---->90
                            </div>
                        </div>
                        <br />
                        <h6>Angular</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="80"
                                aria-valuemax="100" style="width: 80%;">
                                <!---->80
                            </div>
                        </div>
                        <br />
                        <h6>React.js</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-info" aria-valuenow="60"
                                aria-valuemax="100" style="width: 60%;">
                                <!---->60
                            </div>
                        </div>
                        <br />
                        <h6>Responsive Design</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="70"
                                aria-valuemax="100" style="width: 70%;">
                                <!---->70
                            </div>
                        </div>
                        <br />
                        <h6>Web Performance</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="70"
                                aria-valuemax="100" style="width: 70%;">
                                <!---->70
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center mb-3">Non Technical</h3>
                        <h6>Communication</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="90"
                                aria-valuemax="100" style="width: 90%;">
                                <!---->90
                            </div>
                        </div>
                        <br />
                        <h6>Fast learning</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="90"
                                aria-valuemax="100" style="width: 90%;">
                                <!---->90
                            </div>
                        </div>
                        <br />
                        <h6>Problem-solving</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="90"
                                aria-valuemax="100" style="width: 90%;">
                                <!---->90
                            </div>
                        </div>
                        <br />
                        <h6>Team Player</h6>
                        <div class="progress">
                            <div aria-valuemin="0" role="progressbar" class="progress-bar bg-success" aria-valuenow="80"
                                aria-valuemax="100" style="width: 80%;">
                                <!---->80
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <app-experiance></app-experiance>
    </div>
</div>