<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Soumya Mohan</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow me on Stack overflow" data-placement="bottom" href="https://stackoverflow.com/users/5182321/s-m" target="_blank">
                        <i class="fa fa-stack-overflow icon-font"></i>
                        <p class="d-lg-none">Stack Overflow</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Connect me on LinkedIn" data-placement="bottom" href="https://www.linkedin.com/in/soumya-mohan-230a4a78/" target="_blank">
                        <i class="fa fa-linkedin icon-font"></i>
                        <p class="d-lg-none">LinkedIn</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/soumyam890" target="_blank">
                        <i class="fa fa-github icon-font"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="https://medium.com/@soumyam890" class="nav-link" target="_blank"><i class="nc-icon nc-book-bookmark"></i> View my Blogs</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" [routerLink]="['home']" [fragment]="'about'">
                        <p class="d-lg-none">About Me</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" [routerLink]="['home']" [fragment]="'skills'">
                        <p class="d-lg-none">My Skills</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" [routerLink]="['home']" [fragment]="'experience'">
                        <p class="d-lg-none">My Experience</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
